.body-font {
  font-family: 'Raleway', sans-serif;
}

.centered-img {
  display: block;
  width: 100%;
  margin: auto;
}

.offline {
  width: 100%;
}

@media (min-width: 720px) {
  .centered-img {
    width: 50% !important;
  }

  .offline {
    width: 50% !important;
  }
}

.centered-text {
  text-align: center;
}

.full-width {
  width: 100%;
}

.right-text {
  text-align: right;
}

.paragraph {
  padding-top: 15px;
  text-align: center;
}

.main {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 10px;
  margin: 0px;
  background-color: #def;
}

.button {
  display: block;
  padding: 10px;
  background-color: #1e86af;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  color: #ccc;
  text-align: center;
  border-radius: 2px;
  text-decoration: none;
  margin-bottom: 5px;
}

.smallList {
  background-color: #4a92af;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: left;
  transition: background-color 1s;
}

.smallList:hover {
  background-color: #266983;
}